
.acolor{
  color: FD6601;
}

  
/* Variables */
:root {
  --color-base: #fff;
  --color-text: #222;
  --color-accent: #FD6601;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: var(white);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Navigation */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--color-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 100%;
  text-decoration: none;
  color: var(--color-base);
}

.links {
  list-style-type: none;
  display: flex;
}

.links li {
  margin-left: 20px;
}

.links li a {
  text-decoration: none;
  color: var(--color-base);
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.links li a:hover {
  background-color: var(--color-accent);
  color: var(--color-base);
}

/* Dropdown */
.drop {
  display: none;
  position: absolute;
  background-color: var(--color-base);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .drop {
  display: block;
}

.drop li a {
  display: block;
  padding: 10px 15px;
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.drop li a:hover {
  background-color: var(--color-accent);
  color: var(--color-base);
}

/* Arrow */
.arrow {
  position: relative;
  top: 3px;
  margin-left: 5px;
  border: solid var(--color-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.banner {
  margin-bottom: 7%;
}

.banner-img {
 width: 100%;
  height: auto;
  margin: 0 auto;
}

.section {
  margin-bottom: 7%;
  width: 100%;
}


.section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.marques .brand-img {
  display: block;
  margin: 0 auto;
}

.about-content {
  width: 60%;
  margin: 0 auto;
  font-size: 23px;
  font-weight: 100;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-img {
  max-width: 100%;
  height: auto;
}
.contacts {
  width: 100%;
}

.contact-info {
  background-color: #222;
  color: #fff;
  display: flex;
  padding: 40px;
  gap: 40px;
}

.contact-form {
  flex: 1;
}

.contact-details {
  flex: 1;
}

.contact-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FD6601;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #FF9C3C;
}

 h4 {
  margin-bottom: 20px;
  color: white;
}

.contact-details p {
  margin-bottom: 10px;
  color: #FD6601;
}

.contact-details p:last-child {
  margin-bottom: 0;
}

.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #FD6601;
  outline: none;
}

.contact-form button {
   width: 50%;
   height: 20%;
   padding: 10px;
   background-color: #ffffff;
   color: #FD6601;
   border-radius: 10px;
   margin-left: 15%;
   font-weight: bold;
   font-size: 15px;

}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1; 
  margin-top: -8%;
}

.footer-content p {
  margin: 0; 
  padding: 0 10px; 
}
